build/
firmware/
html/
espfs/mkespfsimage/*.o
espfs/mkespfsimage/mkespfsimage
webpages.espfs
espfs/espfstest/*.o
espfs/espfstest/espfstest
*.DS_Store
html_compressed/
npm-debug.log
test/.client_auth
test/*.bin
*.bak
