[submodule "libesphttpd"]
	path = libesphttpd
	url = https://github.com/zmoteio/libesphttpd.git
[submodule "libmqtt"]
	path = libmqtt
	url = https://github.com/zmoteio/libmqtt.git
[submodule "test/zmote-dbmodels"]
	path = test/zmote-dbmodels
	url = https://github.com/zmoteio/zmote-dbmodels.git
[submodule "frontend"]
	path = frontend
	url = git@bitbucket.org:klarsys/zmote-frontend.git
[submodule "rboot"]
	path = rboot
	url = https://github.com/zmoteio/zmote-rboot.git
